[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
black = "*"
isort = {extras = ["pipfile"],version = "*"}
typing-extensions = "*"
sdag2 = "*"
funcy = "*"
more-itertools = "*"
blessed = "*"
cython = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
